// @import "~bootstrap/scss/maps";
@use '~bootstrap/scss/bootstrap' as variables;

.container {
    margin: auto;
    width: 1000px;
    background-color: variables.$gray-100;
    // background-color: yellow;
}